:root{
    --DarkGreen: #326A3D;
    --IntenseDarkGreen: #103F1A;
}
#container{
    display: flex;
    flex-direction: column;
    gap: 6vh;
    justify-content: center;
    overflow: visible;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.nameRow{
    display: flex;
    justify-content: space-between;
    input{
        width: 100%;
    }
}
.inputBox{
    display: flex;
    flex-direction: column;
    label{
        color: #727272;
        font-size: 0.7rem;
        padding-bottom: 0.8vh;
    }
    input{
        background-color: #fff;
        border: 1px solid #ccc;
        color: black;
        padding: 1vh;
        font-size: 0.9rem;
        border-radius: 8px;
        outline: none;
        width: 100%;
        margin: 1.5px;
    }
}
.inputBox input:focus{
    outline: none;
    border-color: var(--IntenseDarkGreen);
    box-shadow: 0 0 0 2px rgba(0, 102, 255, 0.1);
}
.inputComponent{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.icons{
    position: absolute;
    right: 0.7vw;
    color: #727272;
    pointer-events: none;
}
.loginBtn{
    color: #fff;
    height: 4vh;
    border-radius: 25px;
    border-style: none;
    background-color: var(--DarkGreen);
    transition: transform 30ms ease-in-out;
}
.loginBtn:hover{
    transform: scale(1.01);
    background-color: var(--IntenseDarkGreen);
}
.loginBtn:active{
    transform: scale(0.95);
    opacity: 0.8;
}
.passwordToggle{
    pointer-events: all;
    cursor: pointer;
}
@media (max-width: 1700px){
    .form{
        gap: 0vh;
    }
    .nameRow{
        display: flex;
        flex-direction: column;
    }
}